.ant-select-show-search:where(.css-dev-only-do-not-override-1k979oh).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.94em 0.8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-form-item {
    margin-bottom: 14px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input:placeholder-shown {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.94em 0.8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333;
}

.product-thumbnail__quantity {
    font-size: .78em;
    white-space: nowrap;
    padding: 0 0.62em;
    border-radius: 2em;
    background-color: #2a9dcc;
    color: #fff;
    position: absolute;
    right: 0.1em;
    top: 0.45em;
    z-index: 3;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
    line-height: 1.75em;
}

.product-thumbnail__quantity::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px rgba(0, 0, 0, .1) solid;
    z-index: 2;
}

.product-thumbnail {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
    margin-bottom: 14px;
    border-radius: 8px;
    background: #fff;
    position: relative;
}