:where(.css-dev-only-do-not-override-1k979oh).ant-input-affix-wrapper>input.ant-input {
    margin: 0;
}

.ant-btn {
    background: #002d3a;
}

.ant-btn:hover {
    background: #77e322 !important;
    color: #002d3a !important;
}